<%- include("header"); -%>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Sobre</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        LGF Web App foi criado em 2022 de maneira independente
        por Nicholas C. Zani, aluno do laboratório. A ferramenta tem como objetivo facilitar
        a rotina de trabalho dos alunos, alunas e funcionários do LGF ao oferecer praticidade no manejo 
        de reservas de equipamentos, compra de reagentes, e acesso a planilhas úteis.
      </p>
    </div>
  </div>



<%- include("footer"); -%>
