<%- include("header") -%>
<form action="/admin" method="post">
  <input type="submit" onclick="return confirm('Tem certeza disso?')">Apagar todas as reservas</input>
</form>



<%- include("footer") -%>
