
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/script/index.js" charset="utf-8"></script>
    </div>
  </body>

  <footer class="py-5 my-6 greyBG">

    <p class="text-center text-mutated">© 2022 Nicholas C. Zani</p>

  </footer>

</html>
