

    </div>
    <script src="/js/index.js" charset="utf-8"></script>
    <script type="text/javascript">
      (function($){
        $(document).ready(function(){
          $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
          });
        });
      })(jQuery);
    </script>
  </body>

  <footer class="py-5 my-6 greyBG">

    <p class="text-center text-mutated">© 2022 Nicholas C. Zani</p>

  </footer>

</html>
