<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title><%=titleName%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
      <nav class="navbar navbar-expand-lg greyBG">
        <a class="navbar-brand" href="/">
          <img src="/images/lgf-logo-transparent.png" alt="lgf-logo" class="navbarLogo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ver reservas</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <li><a class="dropdown-item" href="reservas/capela">Capela</a></li>
                <li><a class="dropdown-item" href="/reservas/centrifugas">Centrífugas</a></li>
                <li><a class="dropdown-item" href="/reservas/fluxo">Fluxos laminares</a></li>
                <li><a class="dropdown-item" href="/reservas/leitor-de-placas">Leitor de placas</a></li>
                <li><a class="dropdown-item" href="/reservas/qpcr">qPCR</a></li>
                <li><a class="dropdown-item" href="/reservas/shakers">Shakers</a></li>
                <li><a class="dropdown-item" href="/reservas/termocicladores">Termocicladores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/reservas">Reservas</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reservar</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <li><a class="dropdown-item" href="/reservar/capela">Capela</a></li>
                <li><a class="dropdown-item" href="/reservar/centrifugas">Centrífugas</a></li>
                <li><a class="dropdown-item" href="/reservar/fluxo">Fluxos laminares</a></li>
                <li><a class="dropdown-item" href="/reservar/leitor-de-placas">Leitor de placas</a></li>
                <li><a class="dropdown-item" href="/reservar/qpcr">qPCR</a></li>
                <li><a class="dropdown-item" href="/reservar/shakers">Shakers</a></li>
                <li><a class="dropdown-item" href="/reservar/termocicladores">Termocicladores</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/reservar">Reservar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
