<%- include("header") -%>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-4 planilhaSpacing">
    <div class="col my-3 alignCenter">
      <div class="feature-icon d-inline-flex align-items-center bg-gradient justify-content-center fs-2 mb-3">
        <img src="/images/construction.png" alt="construction-icon" style="width:50px">
      </div>
      <h5><a class="nav-link" href="https://docs.google.com/spreadsheets/d/14mZ35-zZYgYz7Or0jCdDvLeDh1ir1BArVmhKtPMeFww/edit#gid=0">Construções</a></h5>
    </div>
    <div class="col my-3 alignCenter">
      <div class="feature-icon d-inline-flex align-items-center bg-gradient justify-content-center fs-2 mb-3">
        <img src="/images/primer.png" alt="oligo-icon" style="width:50px">
      </div>
      <h5><a class="nav-link" href="https://docs.google.com/spreadsheets/d/1F4Y5VwrvKkTjbHDaIRHUP_62Wa-MBERKwgEld3drGt0/edit#gid=0">Primers</a></h5>
    </div>
    <div class="col my-3 alignCenter">
      <div class="feature-icon d-inline-flex align-items-center bg-gradient justify-content-center fs-2 mb-3">
        <img src="/images/greenhouse.png" alt="greenhouse-icon" style="width:50px">
      </div>
      <div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Croqui CVs
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li class="dropdown-item"><a class="nav-link p-0 text-muted" href="https://docs.google.com/spreadsheets/d/13XI2nU44C6-9ZjWXGWE2AJfpJZbtvp6Fm0mRRoPWJdk/edit?usp=sharing">Croqui CV1</a></li>
              <li class="dropdown-item"><a class="nav-link p-0 text-muted" href="https://docs.google.com/spreadsheets/d/1kvTlUht7BFnI8AkuIWkrpH71o3uf7l6VSnqAI1wnuqE/edit#gid=0">Croqui CV2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col my-3 alignCenter">
      <div class="feature-icon d-inline-flex align-items-center bg-gradient justify-content-center fs-2 mb-3">
        <img src="/images/signup.png" alt="signup-icon" style="width:50px">
      </div>
      <h5><a class="nav-link" href="https://docs.google.com/spreadsheets/d/1WrUdHMWNOof16Osal5t_ENd5wpA8Iac84W61Sv5wAqk/edit#gid=0">Uso da CV</a></h5>
    </div>
  </div>
</div>

<%- include("footer") -%>
