<%- include("header") -%>

  <div class="container-fluid reservasPage">
    <h2>Reservas</h2>
    <br>
    <a class="" href="/reservas/capela">Capela</a><br>
    <a class="" href="/reservas/centrifugas">Centrífugas</a><br>
    <a class="" href="/reservas/fluxo">Fluxos laminares</a><br>
    <a class="" href="/reservas/leitor-de-placas">Leitor de placas</a><br>
    <a class="" href="/reservas/qpcr">qPCR</a><br>
    <a class="" href="/reservas/shakers">Shakers</a><br>
    <a class="" href="/reservas/termocicladores">Termocicladores</a><br>
  </div>


<%- include("footer") -%>
