<%- include("header") -%>

  <div class="container-fluid reservasPage">
    <h2>Reservar</h2>
    <br>
    <a class="" href="/reservar/capela">Capela</a><br>
    <a class="" href="/reservar/centrifugas">Centrífugas</a><br>
    <a class="" href="/reservar/fluxo">Fluxos laminares</a><br>
    <a class="" href="/reservar/leitor-de-placas">Leitor de placas</a><br>
    <a class="" href="/reservar/qpcr">qPCR</a><br>
    <a class="" href="/reservar/shakers">Shakers</a><br>
    <a class="" href="/Reservar/termocicladores">Termocicladores</a><br>
  </div>

<%- include("footer") -%>
