/* General */
.greyBG {
  background-color: #E5E8E8;
}

.container-fluid {
  padding: 3% 7%;
}

.bodyColor {
  background-color: #E5E8E8;
}

.alignCenter {
  text-align: center;
}


/* NavBar */
.navbar-brand {
  padding-left: 1%;
}

.navbar {
  padding: 0;
}

.navbarLogo{
  width: 60px;
}

.nav-link {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.dropdown-menu li {
  position: relative;
  }

  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }
  
  .dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
  }
  
  .dropdown-hover>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
  }

.nav-link {
  text-align: center;
}


/* Footer */
.footerContainer {
  padding-top: 15px;
  padding-bottom: 10px;
}

.tableColor {
  background-color:#F5F5F5;
}


/* HomePAGE */
.bigHeading {
  font-size: 3rem;
  line-height: 1.5;
}

.heroesImg {
  width: 110px;
  background-color: #E5E8E8;
}

.feature {
  padding-top: 1%;
  padding-bottom: 1%;
}


/* TitleSECTION */
#title {
  text-align:left;
}


/* reservasPAGE */
.reservasPage {
  line-height: 1.5;
}


/* reservar-equipamentosPAGE */
.inputDiv {
  padding: 0 0 10%;
}


/* planilhasPAGE */
.planilhaSpacing {
  padding: 3rem 0;
  margin: 5.5rem 0;
}

/* pedidosPAGE */

.marginButton {
  margin: 1% 0 3%;
}

.pedidosContainer1 {
  padding-bottom: 1%;
}
.pedidosContainer2 {
  margin: 0 6%;
  padding-bottom: 3%;
}

.paddingLabel {
  padding: 1% 0;
}

/* pedidos-editPAGE*/

#statusLabel {
  margin-bottom: 10px;
}

#observationLabel {
  margin-bottom: 10px;
  margin-top: 20px;
}

h5 {
  margin-bottom: 0;
}